// @import 'vendor/reset';
@import 'blocks/vars';
@import 'mixins';
// @import "./vendor/animate";


@import 'fonts';
@import 'settings';


html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: var(--font-family);
  color: white;
}

.section {
  display: flex;
  align-items: center;
}

.main {
  height: 100%;
  flex: 1 0 auto;
}

#loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid var(--accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// ======blocks=========

@import 'blocks/container';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/quiz';
@import 'blocks/anketa';
@import 'blocks/result';
@import 'blocks/footer';