
 :root {
    // base
    --font-family: "HarmonyOS Sans SC", sans-serif;
    --content-width: 1060px;
    --content-fluid-width: 1690px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #c30d23;
    --dark-color:#141024;
    --text-colot: rgba(#141024, 0.7);
  
  }
