.quiz {
    min-height: 100vh;
    @include bg-cover;
    padding-top: 116px;
    padding-bottom: 130px;

    @include tablet{
        padding-bottom: 220px;
    }
}

.quiz_inner {
    border-radius: 20px;
    background: #fff;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 40px;
    padding: 40px;
    position: relative;

    @include tablet{
        grid-template-columns: 1fr;
        gap: 20px;
       padding: 20px;
    }
}

.quiz_title {
    font-weight: 700;
    font-size: clamp(24px, 3vw , 30px);
    line-height: 120%;
    color: #c30d23;
}

.quiz_inner_quiestion {
    & .flex-column {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include tablet{
            gap: 8px;
        }

        & li {
            background: #eee;
            border-radius: 10px;
            padding: 15px;
            font-weight: 500;
            font-size: clamp(18px, 3vw ,22px);
            line-height: 120%;
            color: #000;
        }
    }

    & .flex-row {
        display: flex;
        justify-content: flex-end;
        gap: 15px;
        margin-top: 15px;

        @include tablet{
            margin-top: 100px;
        }
    }
}

/* Стили для скрытия стандартных радио-кнопок */
.quiz_inner_quiestion .radio-button {
    position: absolute;
    opacity: 0;
}

/* Стили для меток, которые будут отображаться как красные кружки */
.quiz_inner_quiestion .flex-column li {
    position: relative;
    padding-left: 30px;
    /* Увеличьте, если нужно больше места для кружка */
    margin-bottom: 10px;
    /* Отступ между элементами списка */
}

.quiz_inner_quiestion .flex-column label {
    position: relative;
    padding-left: 30px;
    /* Увеличьте, чтобы оставить место для кружка */
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    /* Отрегулируйте высоту строки по вашему желанию */
}

/* Создаем красный кружок */
.quiz_inner_quiestion .flex-column label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    /* Диаметр кружка */
    height: 15px;
    /* Диаметр кружка */
    border-radius: 50%;
    /* Сделать кружок круглым */
    background-color: #fff;
    /* Красный цвет */
    border: 2px solid #C30D23;
    /* Края кружка */
    transition: background-color 0.3s, border-color 0.3s;
    /* Плавный переход при изменении цвета */
}

/* При выборе радио-кнопки изменяем цвет кружка */
.quiz_inner_quiestion .radio-button:checked+label::before {
    background-color: #C30D23;
    /* Цвет фона при выборе */
    border-color: #C30D23;
    /* Красный цвет границы */
}

.quiz_pages {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #acacac;
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    // gap: 5px;

    @include tablet{
        bottom: 110px;
        left: unset;
        right: 20px;
    }

    & dt {
        position: relative;

        &::after {
            content: '/';
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #acacac;
            display: inline-flex;
            align-items: center;
            // margin-left: 5px;
        }
    }
}