<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_inner_item">
                <a href="" class="img-wrap">
                    <img src="./assets/images/footer/CHERY-footer.svg" alt="logo" width="332" height="302">
                </a>
            </div>
            <div class="footer_inner_item">
                <small>© 2024 АО «Чери Автомобили Рус»</small>
            </div>
            <!-- <a href="" class="footer_inner_politics" style="display: none;">Политика конфиденциальности</a> -->
        </div>
    </div>
</footer>